{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
